.article {
    display: flex;
    flex-direction:row;
    width: 100%;
}

.article>*:not(aside){
    margin: auto;
} 

article {
    padding: 20px;
    display: flex;
    flex-direction:column;
    width: 70%;
    min-width: 600px;
}
article section {
    display: flex;
    flex-direction:column;
}

article p {
    padding: 10px;
}

aside {
    width: 30%;
    padding: 20px;
}

.flex-row {
    flex-direction: row;
}
.flex-row > * :not(aside) {
    margin: auto;
}

.flex-column {
    flex-direction: column;
}
.flex-column > * :not(aside) {
    margin: auto;
}
.center{
    margin: auto;
    align-self: center;
    height: 100%;
}

